@charset "UTF-8";

@font-face {
  font-family: "icons-seba";
  src:url("fonts/icons-seba.eot");
  src:url("fonts/icons-seba.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons-seba.woff") format("woff"),
    url("fonts/icons-seba.ttf") format("truetype"),
    url("fonts/icons-seba.svg#icons-seba") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons-seba" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-seba" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spotify:before {
  content: "\61";
}
.icon-facebook:before {
  content: "\62";
}
.icon-facebook-square:before {
  content: "\63";
}
.icon-youtube-play:before {
  content: "\64";
}
.icon-arrow-right-icon:before {
  content: "\65";
}
.icon-arrow-up-icon:before {
  content: "\66";
}
.icon-compositor-icon:before {
  content: "\67";
}
.icon-mezclador-icon:before {
  content: "\68";
}
.icon-nota-icon:before {
  content: "\69";
}
.icon-productor-icon:before {
  content: "\6a";
}
